.box {
  margin-top: 47.65px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: row;
  margin-bottom: 39.35px;

}

.boxinstr {

  background-color: #FAFAFA;
  font-family: arial;
  margin-left: 47%;
  display: inline-block;
  margin-right: 0;

  
}

.boxcomp {
  font-family: arial;
  margin-left: 8%;
  padding: 5px 10px 10px 10px;
  display: inline-block;

}

.boxin {
  padding: 0;
  padding-top: 34.98px;
  margin-left: 34.98px;
  margin-right: 34.98px;
  
}

.span2 {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 500;
}

.box2 {
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  padding-left:47px;
  


}

.row1 {
  display: flex;
}

.row12,
.row13 {
  width: 238px;
 
}

.row11 {
  justify-content: center;
  text-align: center;
  padding-top: 25px;

}

.row2 {
  margin-top: 15px;
}
.submit{
  margin-top: 36px;
  display: flex;
  justify-content: right;
  padding-right: 95px;
}

@media only screen and (max-width: 600px) {
  .boxinstr{
margin:0
  }
  .boxin{
    margin-left:0px;
  margin-right: 0px
 
  }
  .box{
    grid-template-columns: repeat(1, 1fr);
  }
  .box2{
    width:fit-content;
  }
  .row12,.row13{
    width:38%;
    margin-top:5%

  }
  .row11{
    width:28%
  }
  .box2{
    padding-left:8%;
    border: 1px;
  }
  .submit{
    padding-right: 8%;
  }
  
}