.span0{
    font-size: 30px;
    line-height: 45px;
    font-weight:700;
    text-align:center
}

.span1{
    text-decoration-line: underline;
}

.span2{
    color:var(--primaryColor)
}

.box{
    padding-left:10%;
    padding-right:10%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    font-weight:700;
    margin-top: 40px;
}

.box1{    
    margin-top:40px;
    padding:0px;
    padding-top:27px;
    flex:1;
}

.image{
    padding-left:21.1px;
    padding-right:21.1px;
    width:264.08px;
    height:242px;

}

.text{
    color:var(--primaryColor);
    font-size:7px;
    line-height:12px;
    padding-left:21.1px;
    padding-right:21.1px;

}
@media only screen and (max-width: 600px) {
    .box{
        grid-template-columns: repeat(1, 1fr);
        /* padding:10px; */
        text-align:center;
        width:100%;
        justify-content: center;
    }
    .text{
        font-size:37px;
    }
    .span0{
        font-size: 26px;
        padding-top: 20px;
    }
    
  }