
.fashionRecommender--primary{

    width: 213px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}
.fashionRecommender--secondary{

    width: 255px;
    height: 36px;
    size: 24px;
    line-height: 36px;
}