.logo{
    padding-top: 39px;
    padding-left: 84px;
    width: 100%;
}
.header{
    display: flex;
}
.nav{
    padding-top: 39px;
    padding-right:84px
    
}
.mode{
    width:25px;
    height:25px;
}
.button{
    margin-top:47px;
    margin-right:36px;
    padding-left:25px;
    border:none;
    background-color: transparent;
}
@media only screen and (max-width: 600px) {
    .header{
        /* display:grid; */
        width: 100%;
    }
    .nav{
        width: 100%;
        padding: 0px;
        padding-left: 11%;
        padding-top: 35.5px;
    }
    .logo{
        padding-left: 7%;
    }

    
}

