.nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    color: red;
  }
  
  .nav .a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav .a:hover {
    background-color: lightgray;
  }
  .nav .b {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav .b:hover {
    background-color: lightgray;
  }
  
