.footer {
    display: flex;
    padding-left: 84px;
    padding-right: 84px;
    padding-bottom: 39px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer1 {
    flex: 1;
}

.footer12 {
    font-size: 14px;
    font-weight: 500;
}

.footer21 {
    font-size: 24px;
    font-weight: 600;
}

.footer22 {
    margin-top: 8px;
    color: #A1A1A1;
    font-size: 12px;
}

.footer23 {
    margin-top: 10px;
    color: #A1A1A1;
    font-size: 12px;
}
@media only screen and (max-width: 600px) {
    .footer{
        width: 100%;
        display:grid;
        position:relative;
        padding-top:10px
    }
    .footer2{
        padding-top:10px
    }
    .footer21{
        text-align:center
    }
    .footer22, .footer23{
        text-align:center
    }
}
