.box1{
    padding-bottom: 44px;
    
}
.image{
    padding-left:21.1px;
    padding-right:11.1px;
    width:264.08px;
    height:242px;
    
}

.compLevel{
    color:var(--primaryColor);
    font-size:9px;
    line-height:12px;
    display: flex;
}
.textPrice{
    display:flex;
    padding-left:21.1px;
    padding-right:52.1px;
}
.text{
    font-size: 12px;
    flex:1;
}
.price{
    color: red;
    font-size: 14px;
    display: flex;
    
}
.smile{
    width: 14px;
}
.smileDiv{
    padding-left: 5px;
}



.sale {
    position: relative;
    color:#6B6B6B;
    font-size:10px;
    flex:1;
    padding-top:3px;
    padding-right:5px
    
}
  
.sale::after {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 75%;
    height: 1.5px;
    background: red;
    transform: rotate(-45deg); 
   
  } 
  
  @media only screen and (max-width: 600px) {
    .textPrice{
        padding:12px;
        padding-left:20px
    }
    .text{
        
        text-align:left;
        
    }
    .image{
        width:100%
    }
    
}