
.box{
    margin-top:7%;
    display:flex; flex-direction:row;   
}

.boxinstr{

  background-color: #FAFAFA;
  font-family: arial;
  margin-left: 462px;

  display: inline-block;
  margin-right:0
}
.boxcomp{
  background-color:rgb(233, 178, 178);
  font-family: arial;
  margin-left: 8%;
  padding: 5px 10px 10px 10px;

  display: inline-block;
}
.boxin{
    padding:0;
    padding-top:34.98px;
    margin-left:34.98px;
    margin-right:34.98px;
    padding-bottom:164.56px;
}
.span2{
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 500;
}
