.image{
    width:117px;
    height:117px;
    border:none;
    border-radius: 6px;
    margin-top:23px;
    /* margin-bottom:87px; */

}
.button{
    padding-top:35px;
    display:flex;
    padding-right:26px
}
.button2{
    text-align: right;
    padding-top:35px;
    padding-right:35px;
    padding-bottom:21px
    
}
.box{
    display:flex;
    justify-content: left;
    width:100%;
    /* border:1px solid */
}
.box1{
   
}
.box2{
    padding-top:26px;
    padding-right:36px;
    padding-left:47px
}

.span1{
    font-style: italic;
    font-weight: 300;
    font-size:20px;
}
.comp{
    width:100%;
    background-color: transparent;
    /* border:1px solid */
}
.file{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; 
}
.button1{
    cursor: pointer;
}